.blog{
    width:100%;
    margin:0px auto 30px;
}

.blog .main-content{
    width:60%;
    float:left;

}

.blog .main-content .post{
    width:95%;
    height:300px;
    margin:30px ;
    border-radius: 5px;
    position:relative;
    background-color: rgb(240, 240, 223);
    font-size: large;
}

.blog .main-content .post .post-image{
    border-radius:10px;
    width:40%;
    height:100%;
    float:left;
}

.blog .main-content .post .post-preview{
    width:60%;
    padding:15px;
    float:right;
    padding:10px auto;
}

.blog .main-content .post .read-more{
    position:absolute;
    bottom:10px;
    right:10px;
}

.blog .side-content{
    width:40%;
    float:left;
}

.blog .side-content .about{
    width:95%;
    height:450px;
    margin:300px 10px 10px 10px ;
    border-radius: 5px;
    position:relative;
    background-color: rgb(240, 221, 224);
}

a{
    font-style:bold;
    text-decoration: none;
}

.text p {
        width: 90%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:4;
        overflow: hidden;
        text-align: left;
        margin:30px 30px 0px 30px;
}

.image img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:50%; 
}

.read-more{
    margin:0px 30px;
    font-size:12px;

}

.blog .side-content .follow{
    width:95%;
    height:230px;
    margin:30px 10px 10px 10px ;
    border-radius: 5px;
    position:relative;
    background-color: rgb(240, 221, 224);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius:20px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    margin:0px 0px 0px 100px;
    background: #007bb5;
    color: white;
}

.fa-snapchat-ghost {
    margin:0px 55px 0px 55px;
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
    margin:0px 100px 0px 0px;
    background: #d62976;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin:0px 50px 0px 50px;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin:0px 100px 0px 0px;
}

.button {
    padding:.5rem 1rem;
    background-color: slateblue;
    color: white;
    border: 1px solid white;
    border-radius: .25rem;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black
}


